.offcanvas.offcanvas-end {
  max-width: 480px;
}

.offcanvas,
.modal {
  z-index: 1060;
}

.modal-backdrop {
  z-index: 1055;
}

.sticky-offset {
  scroll-margin-top: 72px;
}

#simulation-progress {
  display: none;
}

#simulation-progress.htmx-request {
  display: block;
}

.img-thumbnail.img-fluid {
  width: 100%;
  height: auto;
}

.form-control.is-warning {
  border-color: #ffc107 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
}
